.options{
   text-align: center;
   font-weight: bold;
   /* cursor: pointer; */
   padding: 0;
}
.options>div>div{
    cursor: pointer;
}
.options>div{
    margin-bottom: 14px;
}
.reportOptions{
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
