.postModalImage{
    width: 100%;
    max-height:30rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.PostModal{
    display: grid; 
    grid-template-columns: auto auto;
gap:1rem;
}
.followers{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;

    flex-direction: column;
    /* align-items: center; */
}
.followers>div{
    display: flex;
    gap: 10px;
}
